## Python data Structures and Boolean

* Boolean
* Boolean and Logical Operators
* Lists
* Comparison Operators
* Dictionaries
* Tuples
* Sets

# Boolean Variables

#### Boolean variables are the two most constant objects True and False

#### They are used to represent truth values ( other values can also be considered flase or true)

#### IN numerical contexts ( for example, when used as the argument to an arithmetic operator) , They behave like the integers 0 and 1. respectively

#### The built-in function bool() can be used to cast any value to a boolean, if the value canbe interpreted as a truth value

#### They are written as False and True , respectively

In [9]:
bool(0)

False

In [3]:
print(True,False)

True False

In [10]:
type(True)

bool

In [11]:
type(False)

bool

In [19]:
my_str="Manan Sharma"

In [23]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('a')) #test if string endswith a d
print(my_str.startswith('M')) #test if string startswith H

False
False
False
True
False
False
False
True
True

## Boolean and Logical Operators

In [24]:
True and True

True

In [25]:
True and False

False

In [26]:
True or False

True

In [27]:
True or True

True

In [28]:
str_example='Hello World'
my_str='Manan'

In [29]:
my_str.isalpha() or str_example.isnum()

True

## Lists

 #### A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [30]:
type([])

list

In [33]:
lst_example=[]

In [34]:
type(lst_example)

list

In [35]:
lst=list()

In [36]:
type(lst)

list

In [37]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [38]:
type(lst)

list

In [39]:
len(lst)

6

## Append (inbuilt function of list

In [40]:
# append is used to add elements in the list

lst.append('Manan Sharma')
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Manan Sharma']

In [41]:
## indexing in list

In [42]:
lst[6]

'Manan Sharma'

In [43]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

In [44]:
lst[1:]

['chemistry', 100, 200, 300, 204, 'Manan Sharma']

In [46]:
lst[:7]

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Manan Sharma']

## Insert

In [50]:
# insert in a specific order
# .insert(the position where you want to insert,The value you want to insert inside the list)

In [51]:
lst.insert(2,"Raghav")

In [54]:
lst

['Mathematics',
 'chemistry',
 'Raghav',
 'Raghav',
 100,
 200,
 300,
 204,
 'Manan Sharma']

## Extend Method

In [57]:
lst.extend([4,5])

In [58]:
lst

['Mathematics',
 'chemistry',
 'Raghav',
 'Raghav',
 100,
 200,
 300,
 204,
 'Manan Sharma',
 6,
 7,
 4,
 5]

## Various Operations that we can perform in List

In [59]:
lst=[1,2,3,4,5]

In [60]:
sum(lst)

15

In [62]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## POP() Method

In [64]:
lst.pop()

5

In [65]:
lst

[1, 2, 3, 4]

In [66]:
lst.pop(0)

1

In [67]:
lst

[2, 3, 4]

## count():Calculates total occurrence of given element of List

In [68]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [69]:
len(lst)

6

In [70]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [71]:
##Min and Max
min(lst)

1

In [72]:
max(lst)

5

## Sets

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table