## Sets

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [3]:
set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [6]:
set_var={1,2,3,4,5}
set_var

{1, 2, 3, 4, 5}

In [7]:
set_var={"Avengers","Ironman","Hitman"}
print(set_var)
print(type(set_var))

{'Hitman', 'Avengers', 'Ironman'}
<class 'set'>

In [8]:
# inbuilt function in sets
set_var.add("Hulk")

In [9]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [10]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [11]:
#difference
set2.difference(set1)

{'Hulk2'}

In [14]:
set2.difference_update(set1)

In [15]:
set2

{'Hulk2'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [16]:
disc={}

In [18]:
type(disc)

dict

In [19]:
type(dict())

dict

In [20]:
set_ex={1,2,3,4,5}

In [21]:
type(set_ex)

set

In [22]:
## Let create a dictionary

my_dict={"car 1":"Audi","car 2":"Maruti","car 3":"Alto"}

In [23]:
my_dict

{'car 1': 'Audi', 'car 2': 'Maruti', 'car 3': 'Alto'}

In [28]:
type(my_dict)

dict

In [31]:
##Access the item values based on keys
my_dict['car 2']

'Maruti'

In [32]:
my_dict["car 3"]

'Alto'

In [33]:
# We can even loop throught the dictionaries keys
for x in my_dict:
    print(x)

car 1
car 2
car 3

In [35]:
for x in my_dict.values():
    print(x)

Audi
Maruti
Alto

In [36]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('car 1', 'Audi')
('car 2', 'Maruti')
('car 3', 'Alto')

In [37]:
## Adding items in Dictionaries

my_dict['car 4 ']= 'Jeep'

In [38]:
my_dict

{'car 1': 'Audi', 'car 2': 'Maruti', 'car 3': 'Alto', 'car 4 ': 'Jeep'}

## Tuples

In [39]:
## create an empty Tuples
my_tuple=tuple()

In [40]:
my_tuple

()

In [41]:
type(my_tuple)

tuple

In [42]:
my_tuple=("Krish","Ankur","John")
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Krish', 'Ankur', 'John')

In [43]:
## Inbuilt function
my_tuple.count('John')

1

In [45]:
my_tuple.index('John')

2